<!-- views/login.ejs -->
<!doctype html>
<html ng-app="elem">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><%= title %></title>
    <link rel="shortcut icon" href="./../../img/icone.png" type="image/x-icon" />
    

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="./../../js/jquery-1.10.2.min.js"></script>
    
	<script type="text/javascript" src="./../../js/angular.min.js"></script>
	<script type="text/javascript" src="./../../js/angular-route.min.js"></script>
	<script type="text/javascript" src="./../../js/angular-cookies.min.js"></script>
	<script type="text/javascript" src="./../../js/elem.js"></script>
	
    <script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  	ga('create', 'UA-61941499-1', 'auto');
  	ga('send', 'pageview');
	</script>
</head>

<body>
        <div>
           L'url ne correspond à aucune oeuvre du site. 
           La page est en cours de construction...
        </div>
        <div>
            <%= url %>
        </div>
    
    
</body>
</html>