#facebookConnect{
    margin-top:60px;
}

#localConnect{
    
}

@media screen and (min-width:768px){
    #facebookConnect{
    
    }

    #localConnect{
        border-left:1px solid #eee;
    }

}

@media screen and (max-width:768px){
    #facebookConnect{
        text-align:center;
        border-bottom:1px dashed #eee;
        padding-bottom:30px;
        margin-top:40px;
    }

    #localConnect{
        padding-top:30px;

    }

}